Функциональное  назначение:
-	загрузка входных данных в виде файла, содержащего в формате xml данные о соревновании, участниках и их результаты;
-	расчет итогов соревнований в виде расстановки мест среди участников соревнований в командном и личном первенстве в соответствии с установленными Правилами;
-	сохранение результатов в файле в формате xml;
-	конвертация xml-описания таблицу excel в форме протокола итогов соревнований.
Исходные данные:
-	структура xml-описания спортивного соревнования;
-	Правила подведения итогов соревнований по спортивной рыбной ловле;
-	форма протокола результатов соревнований по спортивной рыбной ловле.
